<div class="container">	
	<div class="nav col-md-12">
		<h1>WELCOME TutorAAC</h1>
		<h4>FIND YOUR TUTOR</h4>

		<div class="note">
			<% if flash[:notice].present? %>
					<div class="alert alert-success" role="alert">
					<%= flash[:notice] %>
					</div>
			<% end %>
			<% if flash[:alert].present? %>
					<div class="alert alert-danger" role="alert">
					<%= flash[:alert] %>
					</div>
			<% end %>
		</div>
	</div>
<div class="container ">
		<div class="homebu">	
		<%= link_to "HOME",{:controller => "welcome",:action =>"index"},:class => "btn btn-primary funa"%>

		<%= link_to "NEW" , new_booking_path ,:class => "btn btn-primary funa" %><br>
		</div>
	<div class="col-md-7">
		<table class="table">
		<tr>
			<td>NAME</td>
			<td>COUNTRY</td>
			<td>AGE</td>
			<td>FUNCTION</td>	
		</tr>
		<% @bookings.each do |i|%>
		<tr>
			<td><%= i.name %></td>	
			<td><%= i.country %></td>	
			<td><%= i.age %></td>	
			<td>
				<%= link_to "PROFILE",booking_path(i) , :class => "btn btn-primary funb"%>
				<%= link_to "NOTE",edit_booking_path(i)  , :class => "btn btn-primary funb"%>
				<%= link_to "DELETE",booking_path(i) , :method => :delete , :class => "btn btn-primary funb"%>
			</td>
		</tr>
		<%end%>
		</table>
	</div>
	<div class="col-md-5">
	
	</div>
</div>

<div class="pages">
<%= paginate @bookings %>
</div>
